html {
    font-family: 'Work Sans', sans-serif;
}

header > h1 {
    color:#253879;
    text-align:center;
}

section > h2 {
    margin:0;
    background-color:#3a61ef;
    color:#dfe4f7;
    text-align:center;
    padding:50px;
}
    
.container {
    display:flex;
}
.col1 {
    width:50%;
}

.col2 {
    width:50%;
    border-left-style:solid;
    border-right-style:solid;
}    

.col3 {
    width:50%;
}

ul {
    list-style-type:none;
}

form > a > input {
    color: white;
    background-color:#3a61ef;
    padding: 5px 20px;
}

input {
    background-color:#dfe4f7;
    border:none;
}

.col {
    column-width:100px;
}
/*
font-family: 'Oswald', sans-serif;
bleu : #3a61ef;  
bleu foncé : #253879;  
bleu clair : #dfe4f7;  
blanc cassé : #eafbf0;  
blanc : #ffffff;  
rouge : #d9022f;  
vert : #1e7062;  
noir : #0d0f0f;
*/